<?php
session_start();
if (isset($_SESSION["password"]) && $_SESSION["password"] === APP_ADMIN_PASSWORD) {
	echo "
		<div class='container'>
			<h1>Admin Panel</h1>
			<ul class='nav'>
				<li><a href='?do=Admin&act=viewReports'>View Reports</a></li>
				<li><a href='?do=Admin&act=manageLocations'>Manage Locations</a></li>
			</ul>
		</div>
		<div class='container'>
	";
	if (isset($_GET["act"])) {
		switch ($_GET["act"]) {
			case "viewReports":
				if (isset($_GET["approve"])) {
					$stmt = $db->prepare("UPDATE locations SET disabled = :value, reported = :value2 WHERE id = :id;");
					$stmt->bindValue('id', $_GET["approve"], SQLITE3_INTEGER);
					$stmt->bindValue('value', 1, SQLITE3_INTEGER);
					$stmt->bindValue('value2', 0, SQLITE3_INTEGER);
					$res = $stmt->execute();
					echo "<h3>Report has been approved, location removed from map.</h3>";
				}
				elseif (isset($_GET["reject"])) {
					$stmt = $db->prepare("UPDATE locations SET reported = :value WHERE id = :id;");
					$stmt->bindValue('id', $_GET["reject"], SQLITE3_INTEGER);
					$stmt->bindValue('value', 0, SQLITE3_INTEGER);
					$res = $stmt->execute();
					echo "<h3>Report has been rejected.</h3>";
				}
				
				echo "
					<table class='table table-striped table-hover'>
						<tr><th>ID</th><th>Location Title</th><th>Reason</th><th>Action</th></tr>
				";
				
				$stmt = $db->prepare("SELECT * FROM locations");
				$res = $stmt->execute();
				
				$row = $res->fetchArray();
				if ($row) {
					do {
						if ($row["reported"] === 1) {
							echo "
								<tr><td>{$row['id']}</td><td>{$row['title']}</td><td>{$row['reported_reason']}</td><td><a href='?do=Admin&act=viewReports&approve={$row['id']}'>Approve</a>/<a href='?do=Admin&act=viewReports&reject={$row['id']}'>Reject</a></tr>
							";
						}
					} while ($row = $res->fetchArray());
				}
				
				echo "
					</table>
				";
			break;
			case "manageLocations":
				echo "
					<br />
					<small>Click a row title, type or description to edit the row!<br />Setting disabled = 1 will hide a location from the map, to undo set disabled = (blank).</small>
					<table class='table table-striped table-hover'>
						<tr><th>ID</th><th>Location Title</th><th>Type</th><th>Description</th><th>Upvote/Downvote</th><th>Disabled?</th></tr>
				";
				$stmt = $db->prepare("SELECT * FROM locations");
				$res = $stmt->execute();
				
				$row = $res->fetchArray();
				if ($row) {
					do {
						echo "
							<tr>
								<td>{$row['id']}</td>
								<td class='data-cell' data-id='{$row['id']}' data-type='title'>{$row['title']}</td>
								<td class='data-cell' data-id='{$row['id']}' data-type='type'>{$row['type']}</td>
								<td class='data-cell' data-id='{$row['id']}' data-type='description'>{$row['description']}</td>
								<td>{$row['upvote']}/{$row['downvote']}</td>
								<td class='data-cell' data-id='{$row['id']}' data-type='disabled'>{$row['disabled']}</td>
							</tr>
						";
					} while ($row = $res->fetchArray());
				}
				echo "
					</table>
					<script>
						$('td.data-cell').on('click', function(e) {
							var res = prompt('Change to what value?', $(this).text());
							if (res !== null) {
								$.post('AdminAjax.php', { id: $(this).attr('data-id'), type: $(this).attr('data-type'), value: res });
								$(this).text(res);
								$.notify('Successfully updated database!', { className: 'success' });
							}
						});
					</script>
				";
			break;
		}
	}
	echo "
		</div>
	";
}
elseif (isset($_POST["password"])) {
	if ($_POST["password"] === APP_ADMIN_PASSWORD) {
		$_SESSION["password"] = APP_ADMIN_PASSWORD;
		echo "
			<div class='container'>
				<h1>Admin Login</h1>
				<p>Login successful.</p>
				<a href='?do=Admin' class='btn btn-primary'>Continue</a>
			</div>
		";
	}
	else {
		echo "
			<div class='container'>
				<h1>Admin Login</h1>
				<p>Login incorrect.</p>
				<a href='?do=Admin' class='btn btn-primary'>Try Again</a>
			</div>
		";
	}
}
else {
	echo "
		<div class='container'>
			<h1>Admin Login</h1>
			<form action='?do=Admin' method='post'>
				<div class='form-group'>
					<input type='password' class='form-control' placeholder='Admin Password' name='password' />
				</div>
				<div class='form-group'>
					<input type='submit' class='form-control' value='Log In' />
				</div>
			</form>
		</div>
	";
}
?>