<div id="map">Please wait... map loading.</div>
<script>
	var map;
	<?php
		echo "
		var landmarks = {};
		";
		$stmt = $db->prepare("SELECT * FROM locations");
		$res = $stmt->execute();

		$row = $res->fetchArray();
		if ($row) {
		do {
		if ($row["disabled"] === 1) continue;
		echo "
		landmarks['{$row['id']}'] = {
		lat: {$row['lat']},
		lng: {$row['lng']},
		name: \"{$row['title']}\"
		};
		";
		} while ($row = $res->fetchArray());
		}
	?>
	function initMap() {}
	function initMap2() {
		map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: m_pos[0], lng: m_pos[1]},
			zoom: 16
		});
		map.addListener("click", function(e) {
			var newPos = {lat: e.latLng.lat(), lng: e.latLng.lng()};
			console.log(newPos);
			makeNotifs(e.latLng.lat(), e.latLng.lng());			
		});
	

	}
	
	function makeNotifs(lat, lng){
			x = 0;
			for(var key in landmarks)
			{
				if (x < 7){
				distance = Math.pow(lat-landmarks[key].lat, 2) + Math.pow(lng-landmarks[key].lng, 2);
					if(distance < 0.00001){
					document.cookie = 'notif' + x + '=Landmark: ' + landmarks[key].name;
					x++;
					}
				}
			}
			while (x<7){
				document.cookie = 'notif' + x + '=0';
				x++;
			}
			window.location.reload()			
	}
	
	
	$(function(e) {
		setTimeout(initMap2, 1000); 
	});
</script>