<blockquote>
	<h1>Getting Started</h1>
	<p>Welcome to <?php echo APP_NAME; ?>. This app allows you to easily find restaurants, landmarks, and other points of interests near your location.</p>
	<h1>Exploring</h1>
	<p>This application requires the use of location services and/or GPS to be enabled on your device. If you see a notification requesting for the application to request your location, please accept it as most of the functions on this website requires the use of these services.</p>
	<h1>Enabling location services and/or GPS</h1>
	<p>Please refer to your device's instruction manual for specific details.</p>
	<h3>Google Chrome (Desktop)</h3>
	<p>&bull; Click the lock icon on the address bar.</p>
	<img src="images/permissions-chrome.png" style="max-width: 100%;" />
	<br />
	<br />
	<p>&bull; Make sure that the location option is enabled.</p>
	<img src="images/permissions-chrome-location.png" style="max-width: 100%;" />
	<br />
	<br />
	<h3>Google Chrome (Android)</h3>
	<p>&bull; Click the green <span style="color: #42cc49;">https</span> text on the address bar and verify that location is allowed.</p>
	<img src="images/permissions-chrome-mobile.png" style="max-width: 100%;" />
	<hr />
	<h1>Common errors</h1>
	<br />
	<p style='font-size: 0.8em;'><span class='notifyjs-bootstrap-base notifyjs-bootstrap-error'>Geolocation could not be acquired.</span></p>
	<p>Please check to make sure that this website is allowed to access your browser's geolocation.</p>
</blockquote>