	<div class="box-navigation">
		<a href="?do=StartExploring" class="btn">Start Exploring</a>
		<a href="?do=SubmitFacts" class="btn">Submit Facts</a>
		<a href="?do=Preferences" class="btn">Preferences</a>
		<a href="?do=Admin" class="btn">Admin</a>
		<a href="?do=Debug" class="btn">Debug</a>
	</div>