<?php
if (isset($_POST["reason"])) {
	$stmt = $db->prepare("UPDATE locations SET reported = :value, reported_reason = :reason WHERE id = :id;");
	$stmt->bindValue('id', $_GET["i"], SQLITE3_INTEGER);
	$stmt->bindValue('value', 1, SQLITE3_INTEGER);
	$stmt->bindValue('reason', $_POST["reason"], SQLITE3_TEXT);
	$stmt->execute();
	echo "
		<div class='container'>
			<h1>Report Error</h1>
			<p>Thank you for reporting this error.</p>
		</div>
	";
}
else {
	$stmt = $db->prepare("SELECT * FROM locations WHERE id = :id;");
	$stmt->bindValue('id', $_GET["i"], SQLITE3_INTEGER);
	$res = $stmt->execute();
	$row = $res->fetchArray();
	if ($row["reported"] === 1) {
		echo "
			<div class='container'>
				<h1>Report Error</h1>
				<p>This location has already been reported.</p>
			</div>
		";
	}
	else {
?>
<form action="?do=ReportError&i=<?php echo $_GET["i"]; ?>" method="post" class="form container">
	<h1>Report Error</h1>
	<div class="form-group">
		<input type="text" placeholder="Reason" class="form-control" name="reason" />
	</div>
	<div class="form-group">
		<input type="submit" class="form-control btn btn-primary" value="Submit" />
	</div>
</form>
<?php
	}
}
?>