	<div id="notification-area">
		<!--
		<div class="bubble">
			<h1>Neighborhood</h1>
			<p>Bronzeville</p>
		</div>
		<div class="bubble">
			<h1>Nearby Locations</h1>
			<p>Illinois Institute of Technology</p>
		</div>
		-->
	</div>
	<div id="toast-area">
		<div class="toast">
			<i class='fa fa-search'></i> <input type='text' id='searchQuery' placeholder='Search...' style='border: none; padding: 10px; color: white; background-color: transparent;' />
		</div>
	</div>
	<div id="map">Please wait... map loading.</div>
    <script>
      var map;
	  function initMap() {}
      function initMap2() {
		if (!usingGeolocation) {
			console.log("Geolocation could not be acquired.");
			$.notify("Geolocation could not be acquired.", { className: "error", autoHideDelay: 10000 });
			$.notify("Using default starting location instead.", { className: "info", autoHideDelay: 10000 });
		}
        map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: m_pos[0], lng: m_pos[1]},
			zoom: 16
        });
		
		<?php addMarkersToGoogleMap($db); ?>
		<?php addUpDownvoteHandler(); ?>
		
		<?php
			if (isset($_GET["id"])) {
				// location id set
				$stmt = $db->prepare("SELECT * FROM locations WHERE id = :id;");
				$stmt->bindValue("id", $_GET["id"], SQLITE3_INTEGER);
				$res = $stmt->execute();
				
				$row = $res->fetchArray();
				
				if ($row) {
					echo "
						m_pos[0] = {$row['lat']};
						m_pos[1] = {$row['lng']};
						$.featherlight('Popup.php?action=infoPopup&i={$row['id']}');
					";
				}
			}
		?>
		
		<?php
			if (isset($_GET["q"])) {
				echo "
					$.notify(\"Searching for {$_GET['q']}...\", { className: 'info' });
					$('#searchQuery').val(\"{$_GET['q']}\");
				";
			}
		?>
		
      }
	  $(function(e) {
		 setTimeout(initMap2, 1000); 
		 $('#searchQuery').on('keyup', function(e) {
			if (e.which == 13) {
				location.href = '?do=StartExploring&q=' + $(this).val();
			}
		 });
	  });
    </script>