/************************/
/* Team J CS487 Project */
/************************/

/* main header */
.box-header, .box-header-mini { text-align: center; }
.box-header .box-title { margin: 100px 0; font-size: 2.4em; }
.box-header .btn { position: absolute; top: 8px; right: 8px; padding: 4px 16px; }
.box-header-mini .box-title { margin: 12px 0; font-size: 1.4em; }
.box-header-mini .btn { position: absolute; top: 8px; right: 8px; padding: 4px 16px; }
.box-header-mini .btn-alt { position: absolute; top: 8px; left: 8px; padding: 4px 16px; }

/* main footer */
.box-footer { text-align: center; color: #3f3f3f; font-size: 1.2em; margin: 64px 0; }

/* main navigation */
.box-navigation { text-align: center; }
.box-navigation .btn { display: block; width: 75%; padding: 20px;  margin: auto; margin-bottom: 20px; text-decoration: none; font-size: 1.4em; }

/* global styles */
* { font-family: "Open Sans", Helvetica; }
.btn, .btn-alt { transition: background 0.25s ease; background-color: rgba(0, 0, 0, 0.5); color: white; }
.btn:hover, .btn-alt:hover { background-color: rgba(0, 0, 0, 0.75); color: white !important; }

/* debug */
#debugSpace { display: none; }

/* sample */
#notification-area { z-index: 999; position: absolute; right: 0; top: 48px; }
.bubble { background-color: rgba(255, 255, 255, 0.4); border-radius: 10px; padding: 4px; margin: 4px; text-align: center; transition: background 0.25s ease; }
.bubble:hover { background-color: rgba(255, 255, 255, 0.8); cursor: pointer; }
.bubble h1 { font-size: 16px; margin: 0; }
.bubble p { font-size: 12px; margin: 2px; }

#toast-area { z-index: 998; position: absolute; bottom: 40px; }
.toast { background-color: rgba(0, 0, 0, 0.7); color: white; border-radius: 5px; padding: 12px 12px; margin: 4px; display: inline-block; }
.toast p { margin: 0; }

#map { position: absolute; left: 0; right: 0; top: 48px; bottom: 0; }

.notif { position: relative; word-wrap: break-word; overflow: hidden; background: green; max-width: 95%; min-width: 95%; min-height: 10%; top: 8px; left: 8px; font-weight: bold; }
.notif .big { padding: 0px 16px; font-size: 1.4em; color: black; }