<div id="map">Please wait... map loading.</div>
<script>
	var map;
	function initMap() {}
	function initMap2() {
		map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: m_pos[0], lng: m_pos[1]},
			zoom: 16
		});
		map.addListener("click", function(e) {
			var newPos = {lat: e.latLng.lat(), lng: e.latLng.lng()};
			console.log(newPos);
			addLocationDialog(e.latLng.lat(), e.latLng.lng());
		});
	
		<?php addMarkersToGoogleMap($db); ?>

	}
	$(function(e) {
		setTimeout(initMap2, 1000); 
	});

	function addLocationDialog(lat, lng) {
		$.featherlight("Popup.php?action=addLocationDialog&lat=" + lat + "&lng=" + lng);
	}
</script>